:root {
    --size: 100px;
}

.chats-container {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.chats-container div {
    overflow-x: hidden;
}

.card {
    height: 98%;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.contacts_card {
    width: 24%;
}

.msg_card {
    width: 74%;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
    direction: rtl;
}

.card-header {
    background-color: rgba(0, 0, 0, 0.1) !important
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 10px 10px;
    cursor: pointer;
    text-align: right;
}

.contacts li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 70px;
    width: 70px;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;

}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
    color: white;
}

.user_info p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}

.msg_head {
    position: relative;
    direction: rtl;
    overflow: hidden;
    height: 60px;
}

.contacts-header {
    height: 48px;
    overflow: hidden;
}

.autoMode p {
    font-family: nazanin;
    font-size: 21px;
    float: right;
    padding-left: 15px;
    margin: auto;
}

.toggle {
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    margin-top: 5px;
}

.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.toggle span {
    position: absolute;
    top: 0;
    left: 5px;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}

#cbx:checked+.toggle:before {
    background: #4bd863;
}

#cbx:checked+.toggle span {
    background: white;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
}

#cbx:checked+.toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}

.spinner {
    --animation-duration: 1500ms;
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15%;
    gap: 4px;
}

.spinner .spinner-item {
    height: 40%;
    border-radius: 4px;
    background-color: var(--clr-spinner);
    width: calc(var(--size) / 13);
    animation: spinner5 var(--animation-duration) ease-in-out infinite;
}

@keyframes spinner5 {
    25% {
        transform: scaleY(2);
    }

    50% {
        transform: scaleY(1);
    }
}

.spinner .spinner-item:nth-child(1) {
    --clr-spinner: white;
}

.spinner .spinner-item:nth-child(2) {
    --clr-spinner: white;
    animation-delay: calc(var(--animation-duration) / 10);
}

.spinner .spinner-item:nth-child(3) {
    --clr-spinner: white;
    animation-delay: calc(var(--animation-duration) / 10 * 2);
}

.retry-btn {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 30px;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
    margin-top: 80px;
    cursor: pointer;
}

.retry-btn:hover {
    background-color: #4095c6;
}

.retry-btn.msg {
    display: block;
    padding: 0.3em 1.2em;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    width: max-content;
}

@media all and (max-width:30em) {
    .retry-btn {
        display: block;
        margin: 0.2em auto;
    }
}

/* Lives Grid */

.lives_grid {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 1em;
    padding: 2em 1em;
}

.lives_grid figure {
    margin: 0;
}

.lives_grid figcaption {
    margin-top: -10px;
    font-style: italic;
    font-size: 1em;
    color: white;
    line-height: 1.4;
    text-align: center;
}

.lives_grid .chat figcaption {
    margin-top: -10px;
    font-size: 1em;
    color: white;
    line-height: 1.4;
    text-align: right;
    direction: rtl;
    font-family: nazanin;
}

.lives_grid {
    grid-auto-flow: initial;
    grid-template-columns: repeat(auto-fit, minmax(auto, 10em));
    -webkit-box-pack: center;
    justify-content: flex-start;
}

.lives_grid .grid__figure {
    position: relative;
    display: grid;
    grid-template-rows: 15em 1fr;
    grid-gap: 1em;
}

.lives_grid .grid__figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.lives_grid .grid__figure h1 {
    position: absolute;
    text-align: center;
    margin-top: 90px;
    margin-right: 40px;
}

.cantplay {
    filter: grayscale(100%);
}

.live_detail {
    position: absolute;
    width: 158px;
}

.live_detail p {
    margin-top: 2px;
    margin-right: auto;
    width: min-content;
    padding: 2px 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.live_detail img:nth-child(2) {
    width: 30px !important;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    cursor: pointer;
    margin-top: 158px;
    margin-left: 125px;
}

.live_detail img:nth-child(3) {
    width: 65px !important;
    margin-top: -260px;
    margin-left: 47px;
    cursor: pointer;
}

/* Loader */

.loader-container {
    border: 1px solid white;
    border-radius: 6px;
}

.loader {
    position: absolute;
    border-radius: 50%;
    width: 7em;
    height: 7em;
    margin: 80px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.3em solid rgba(255, 255, 255, 0.2);
    border-right: 0.3em solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.3em solid rgba(255, 255, 255, 0.2);
    border-left: 0.3em solid #ffffff;
    animation: load8 1.1s infinite linear;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}